@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: inherit;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #595959;
  line-height: 1.5;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }
}

code {
  font-size: 14px;
  font-family: source-code-pro, Menlo, Consolas, 'Courier New', Courier,
    monospace;
}

a {
  color: inherit;
}

a:hover {
  color: #1890ff;
}
